<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile PAge</title>
</head>
<body>
    <strong>email</strong>: <%= email %><br>
    <strong>name</strong>: <%= name %><br>
    <a href="/logout">logout</a>
  
</body>
</html>